# exclude everything
sources/*

# exception to the rule
!sources/.gitkeep 

# exclude everything
outputs/*

# exception to the rule
!outputs/.gitkeep 

# Don't save changes to original notebooks
notebooks/draft_cleaning_notebook.ipynb
notebooks/second_method_notebook.ipynb